body, h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Share Tech Mono', monospace;
}

.bounce-button {
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.animate-bounce {
    animation: bounce 0.3s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 50;
}

@media (max-width: 768px) {
    .bottom-nav {
        display: flex;
    }
}

.bottom-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #1F2937; /* Dark color for light mode */
    transition: color 0.3s ease;
}

.dark .bottom-nav-item {
    color: #FFFFFF; /* White color for dark mode */
}

.bottom-nav-item:hover, .bottom-nav-item.active {
    color: #4B5563; /* Slightly lighter color for hover/active state in light mode */
}

.dark .bottom-nav-item:hover, .dark .bottom-nav-item.active {
    color: #D1D5DB; /* Slightly darker color for hover/active state in dark mode */
}

.sections-dropdown {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    padding: 10px;
}

.sections-dropdown a {
    color: #1F2937; /* Dark color for light mode */
    padding: 10px;
    text-align: center;
    transition: color 0.3s ease;
}

.dark .sections-dropdown a {
    color: #FFFFFF; /* White color for dark mode */
}

.sections-dropdown a:hover {
    color: #4B5563; /* Slightly lighter color for hover state in light mode */
}

.dark .sections-dropdown a:hover {
    color: #D1D5DB; /* Slightly darker color for hover state in dark mode */
}
